#header
#Sun Oct 09 09:56:42 CEST 2011
password=ciril
oracle.home=/opt/oracle/product/10.2.0/db_1
jcart.owner.login=pkovacs_trunk
dba.login=system
test.java.home=/opt/java/jdk/default
largeinput.dir=/net/morgo/scratch/testinput/jcc/largeinput
tns.name="//10.0.0.117\:1521/orcl"
service.name=JChemCartridgeService
structure.cache.id=pkovacs_trunk
xx.opt.-OmitStackTraceInFastThrow=
sysprop.sun.rmi.transport.connectionTimeout=60000000
sysprop.java.rmi.dgc.leaseValue=60000000
my.home.dir=/home/pkovacs
sysprop.sun.rmi.dgc.ackTimeout=60000000
license.dir=licenses
logging.output.dir=logs
oracle.server.instance=orcl
jcserver.maxmem=700m
oracle.server.port=1521
sysprop.oracle.connection.cache.ValidateConnection=true
jchem.server.port=1099
sysprop.sun.rmi.dgc.server.gcInterval=60000000
jcc.instance.name=pkovacs_trunk
jcc.largeinput.dir=/net/morgo/scratch/testinput/jcc
oracle.server.host=10.0.0.117
logging.config.file=conf/logging.properties
basic.jcc.role=pkovacs_trunk_role
jchem.server.host=10.0.0.30
chemaxon.jchem.cartridge.indexingIsAsynch=false
oracle.server.connectiontype=sid
serverSideJspLogEnabled=true
