P  {}

H1  {
	font-family : helvetica;
	font-size : x-large;
}

H2  {
	font-size : large;
	font-family : helvetica;
}

H3  {
	font-size : medium;
	font-style : normal;
	font-weight : bold;
	font-family : helvetica;
}

A  {}

A:Visited  {}

A:Active  {}

A:Hover  {}

BODY  {
	background-color : #e1e1e1;
}

H4  {
	font-size : medium;
	font-style : italic;
	font-weight : normal;
}