log4j.rootLogger=WARN, A2
log4j.appender.A2=org.apache.log4j.FileAppender
log4j.appender.A2.File=mtkpp.log
log4j.appender.A2.layout=org.apache.log4j.PatternLayout

# Print style
log4j.appender.A2.layout.ConversionPattern=%d  %F:%L%n  %-5p %m%n

# Print only messages of level WARN or above in the package com.mtkpp.molecule.
log4j.logger.com.mtkpp.molecule=DEBUG
